
testt.txt.txt
Breakation-master/Project_Breakation/Assets/Animations.meta
Breakation-master/Project_Breakation/Assets/Clock/Prefabs.meta
Breakation-master/Project_Breakation/Assets/LensFlares.meta
Breakation-master/Project_Breakation/Assets/Meshes.meta
Breakation-master/Project_Breakation/Assets/Morphs.meta
Breakation-master/Project_Breakation/Assets/Particles.meta
Breakation-master/Project_Breakation/Assets/Scenes/QuizGame/QuizGameProject-master.meta
Breakation-master/Project_Breakation/Assets/Scenes/QuizGame/QuizGameProject-master/QuizGameProject.meta
Breakation-master/Project_Breakation/Assets/Scenes/QuizGame/QuizGameProject-master/QuizGameProject/Assets.meta
Breakation-master/Project_Breakation/Assets/Scenes/QuizGame/QuizGameProject-master/QuizGameProject/Assets/TextMesh Pro/Resources.meta
Breakation-master/Project_Breakation/Assets/Sounds.meta
Breakation-master/Project_Breakation/Assets/Textures.meta
Breakation-master/Project_Breakation/Assets/UI/Animations/ResolutionScreen.meta
Breakation-master/Project_Breakation/Assets/UI/Animations/Timer.meta
Breakation-master/Project_Breakation/Assets/UI/Font/TMP.meta
Breakation-master/Project_Breakation/Assets/UI/Font/TTF/Roboto.meta
Breakation-master/Project_Breakation/Assets/UI/Prefabs/Audio.meta
Breakation-master/Project_Breakation/Assets/UI/Prefabs/Game.meta
Breakation-master/Project_Breakation/Assets/UI/Prefabs/UI.meta
Breakation-master/Project_Breakation/Assets/UI/Scripts/Editor/CustomEditors.meta
Breakation-master/Project_Breakation/Assets/UI/Scripts/Editor/PropertyDrawers.meta
Breakation-master/Project_Breakation/Assets/UI/Scripts/Mono.meta
Breakation-master/Project_Breakation/Assets/UI/Scripts/ScriptableObject.meta
Breakation-master/Project_Breakation/Assets/UI/Scripts/Utility.meta
Breakation-master/Project_Breakation/Assets/UI/Sounds/Music.meta
Breakation-master/Project_Breakation/Assets/UI/Sounds/SoundEffects.meta
Breakation-master/Project_Breakation/Assets/UI/Textures/Sprites.meta
*.meta
